parameters:
	level: 9
	paths:
		- src
	scanDirectories:
	    - phar://virions/await-generator_v3.phar/src
	    - phar://virions/libasynql_v4.phar/src
	    - phar://virions/pmforms_v2.phar/src
	ignoreErrors:
		-
			message: '#Call to an undefined method [a-zA-Z0-9\\_]+::asyncGeneric\(\)#'
			path: src/ColinHDev/CPlot/provider/DataProvider.php
		-
			message: '#Call to an undefined method [a-zA-Z0-9\\_]+::asyncInsert\(\)#'
			path: src/ColinHDev/CPlot/provider/DataProvider.php
		-
			message: '#Call to an undefined method [a-zA-Z0-9\\_]+::asyncSelect\(\)#'
			path: src/ColinHDev/CPlot/provider/DataProvider.php

includes:
	- phpstan-baseline.neon