parameters:
	level: 9
	paths:
		- src
	scanDirectories:
	    - phar://virions/await-generator.phar/src
	    - phar://virions/libAsyncEvent.phar/src
	    - phar://virions/libasynql.phar/src
	    - phar://virions/pmforms.phar/src
	    - /vendor/cooldogedev/bedrockeconomy/src

includes:
	- phpstan-baseline.neon